.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    border: 1px solid black;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 20px;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

input.search {
    justify-content: center;
    margin: 10px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    display: flex;
    width: 50%;
}

.App-logo {
    text-align: left;
    font-size: 30px;
    line-height: .5em;
    font-weight: 600;
}

.shopping-cart {
    display: flex;
    justify-content: right;
}

.shopping-cart:hover {
    cursor: pointer;
}

.Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

td, th {
    padding: 0 20px;
}